* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
  min-height: 812px;
  height: 100vw;
}

.container {
  align-items: center;
  background-color: #202024;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: center;
  color: var(--grey);
}

.background-container {
  top: 0;
  left: 0;
  background: url("images/backgroundDesktop.svg");
  position: absolute;
}

.avatar {
  width: 10rem;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

ul li {
  align-items: center;
  background-color: #2E2E35;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 25px;
}

ul li img {
  width: 100%;
}

@media only screen and (min-width: 760px) {
  body {
    background-color: #121214;
    width: 100vw;
    height: 100vh;
  }
  main {
    /* background: url(images/backgroundDesktop.svg) no-repeat center/cover; */
    width: 100vw;
    min-height: 712px;
    height: 100vh;

    position: absolute;
    top: -2.4rem;
  }

  .container {
    height: 610px;
    width: 360px;
  }

  ul {
    margin-top: 2rem;
  }
}

.youtube:hover {
  background-color: red;
}

.instagram:hover {
  background: rgb(244,133,41);
  background: linear-gradient(90deg, rgba(244,133,41,1) 0%, rgba(221,42,123,1) 35%, rgba(81,91,212,1) 100%);
}

.facebook:hover {
  background-color: #4267B2;
}

.linkedin:hover {
  background-color: #0078B5;
}